@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurant.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    @if (!String.IsNullOrEmpty(Model.Message)) {
        <span class="alert alert-info">@Model.Message</span>
    }
</div>
<h1>@Model.Restaurant.Name</h1>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location : @Model.Restaurant.Location
</div>
<div>
    Cuisines : @Model.Restaurant.Cuisines
</div>

<div>
    <a asp-page="./List" class="btn btn-default">All Restaurants</a>
</div>
